@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

html,
body {
    margin: 0px;
    height: 100%;
}

.telabase {
    background-color: #FB6B6B;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.telabase img {
    margin-left: 60px;
    width: 135px;
    height: 160px;
}

h1 {
    margin-top: 30px;
    border: solid;
    border-radius: 5px;
    border-color: #D70900;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Recursive";
    color: #D70900;
    font-size: 18px;
    --casl: "CASL"1;
    --wght: "wght"400;
    font-variation-settings: var(--casl), var(--wght);
    height: 54px;
    width: 246px;
    background-color: white;
}

h2 {
    margin-top: 13px;
    height: 59px;
    width: 257px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Righteous";
    font-weight: 400;
    font-size: 36px;
    color: white;
}

.bottom {
    position: absolute;
    background-color: #FB6B6B;
    height: 1px;
    bottom: 0px;
}

.baserecall {
    background-color: #FB6B6B;
    width: 100%;
    height: 100vh;
}

.logorecall {
    padding-top: 35px;
    display: flex;
    justify-content: center;
}

.perguntas {
    display: block;
}

.center {
    display: flex;
    justify-content: center;
}

.pergunta {
    margin-top: 40px;
    width: 300px;
    height: 65px;
    border: none;
    border-radius: 5px;
    background-color: white;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
}

h3 {
    font-family: "Recursive";
    color: #333333;
    font-size: 16px;
    --casl: "CASL"1;
    --wght: "wght"700;
    font-variation-settings: var(--casl), var(--wght);
}

.pergunta ion-icon {
    height: 28px;
    width: 28px;
}

.conclusao {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 70px;
    background-color: white;
    --casl: "CASL"1;
    --wght: "wght"400;
    font-variation-settings: var(--casl), var(--wght);
}

.conclusao div {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h4 {
    font-family: "Recursive";
    color: #333333;
    font-size: 18px;
}

.perguntaver {
    padding-left: 10px;
    padding-top: 10px;
    background-color: #FFFFD4;
    border: none;
    border-radius: 5px;
    height: 140px;
    width: 330px;
}

.boxpergunta {
    width: 100%;
    height: 100px;
}

.boxicon {
    display: flex;
    justify-content: flex-end;
}

.boxicon img {
    height: 20px;
    width: 20px;
}

.opcaorecall {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.botao {
    border-radius: 5px;
    width: 85px;
    height: 38px;
    max-width: 85px;
    max-height: 34px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.botao h4 {
    font-size: 12px;
    color: white;
}

.vermelho {
    background-color: red;
}

.amarelo {
    padding-left: 17px;
    background-color: #FF922E;
}

.verde {
    background-color: #2FBE34;
}

.erro {
    text-decoration: line-through;
    color: #ff3030;
}

.quase {
    text-decoration: line-through;
    color: #FF922E;
}

.lembrou {
    text-decoration: line-through;
    color: #2FBE34;
}